{% extends 'base.html' %}

{% block title %}
    404 page not found
{% endblock %}


{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>404 page not found</h1>
      <p><a href="{% url 'home' %}">Home</a></p>
    </div>
  </div>
{% endblock %}
