{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="well">
                    {% block regblock %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
