{% load i18n %}

{% if request.user.is_authenticated %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            {% if request.user.first_name or  request.user.last_name   %}
                {{ request.user.first_name }} {{ request.user.last_name }}
            {% else %}
                {{ request.user.username }}
            {% endif %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'profile' request.user.pk %}">{% trans 'Profile' %}</a></li>
            {% if request.user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                <li role="separator" class="divider"></li>
            {% endif %}
            <li>
                <a href="{% url 'logout' %}?next={% url 'home' %}">
                    <i class="fa fa-sign-out"></i>
                    Exit
                </a>
            </li>
        </ul>
    </li>
{% else %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            Login
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{% url 'login' %}">
                    <i class="fa fa-sign-in"></i>
                    Login
                </a>
            </li>
            {% comment %}
                <li>
                    <a href="{% url 'registration_register' %}">
                        <i class="fa fa-user-plus"></i>
                        {% trans 'Register' %}
                    </a>
                </li>
            {% endcomment %}
        </ul>
    </li>
{% endif %}


