{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Profile: {{ request.user.username }}</h1>
        <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
    </div>
{% endblock %}
