{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
        <h1>django</h1>
        <h2>шаблон</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptate dignissimos alias praesentium ducimus enim saepe totam expedita, voluptates, sequi facilis! Voluptatem provident optio dolorum labore, accusamus excepturi consectetur quam!
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}">
                <i class="fa fa-sign-in"></i>
                Login
            </a>
        </p>
    </div>
  </div>
{% endblock %}
